body{
	margin: 0;
}

header{
	width: 100%;
	background-color: #00B5C9;
}

.nombre{
	font-size: 20px;
	padding: 1px;
	margin-left: 5px;
	color: white;
}

.container{
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
}

/*Primer Columna*/

.informacion-container{
	margin-left: 30px;
	float: left;
	width: 30%;
	margin-right: 50px;
}
.informacion{
	text-align: center;
	margin-top: 40px;
}
.informacion em{
	font-weight: bold;
	color: #00B5C9;
	font-family: helvetica;
}

.personal{
	margin-top: 55px;
}

.botones{
	border-radius: 20px;
	color: white;
	background-color: #00B5C9;
	border-style: none;
	margin-right: 3px;
	margin-left: 15px;
	margin-bottom: 30px ;
}
.perfil{
	margin-bottom: 10px;
	margin-left: 15px;
	margin-top: 40px;
}

/*Segunda Columna*/

.biografia-container{
	float: left;
	width: 30%;
	margin-right: 45px;
}

.biogra{
	border: none;
	width: 100%;
	height: auto;
	padding: 15px;
	margin-bottom: 10px;
	background-color: #CCC;
	box-sizing: border-box;
	padding-top: 0px;
}

.fuente{
	margin-top: 35px;
	font-family: Roboto;
	color:#00B5C9;

}

.metas{

}

.moti{
	width: 300px;
	padding: 2px;
	display: flex;
	border: none;

}

.claro{
	background-color: #F2F2F2;
}

.oscuro{
	background-color: #cccccc;
}

/*Tercer Columna*/

.historial-container{
	float: left;
	width: 30%;
}

.historial-academico{
	width: 100%;
}

.titulo{
	font-size: 14px;
	color: #00B5C9;
	margin-top: 37px;
	margin-left: 26px;
}

.lista{
	font-size: 15px;
	margin-top: -18px;
}

.tecnologias{
	margin-top: 80px;
}

.progreso{
	margin-top: -15px;
}

.tecnologias h5{
	font-size: 15px;
	margin-bottom: -13px;
	margin-left: 25px;
}




progress[value] {
/* Eliminamos la apariencia por defecto */
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
/* Quitamos el borde que aparece en Firefox */
border: none;

/* Aplicamos las dimensiones */
width: 300px;
height: 15px;

/* Aplicamos color a la barra */
color: #00B5C9;
margin-left: 25px;
margin-bottom: -11px;
}

/* Compatibilidad de color en Firefox y Chrome */
progress::-moz-progress-bar {
 background: gray; 
}
progress::-webkit-progress-value { 
	background: #00B5C9; 
}

.social{
	width: 100%;
	float: left;
	font-size: 45px;
	top: 40px;
	right: 30px;
	padding: 10px;
	box-sizing: border-box;
	margin-top: 30px;
}

.redes{
	margin-top:20%;
	margin-left:8%;
}

.redes a{
	float: left;
	color: #00B5C9;
	margin-left: 30px;
	text-decoration: none;
	display: inline-block;
}


/*Footer*/

footer{
text-align: center;
padding-bottom: 10px;
padding-top:10px; 
margin: 0;
color: white;
background-color: #00B5C9;
}

/*Responsivo*/


@media screen and (max-width: 1240px){

	.informacion-container{
		margin-right: 25px;
	}

	.biografia-container{
		margin-right: 10px;
	}
}

@media screen and (max-width: 768px){

	.informacion-container{
		width: 90%;
		float: none;
	}

	.informacion p{
		font-size: 120%;
	}

	.personal{
		margin-left: 8%;
	}

	.personal button{
		width: 20%;
	}

	.biografia-container{
		width: 90%;
		float: none;
		margin-left: 5%;
	}

	.fuente{
		font-size: 200%;
		margin-left: 5%;
	}

	.moti{
		width: 50%;
		font-size: 120%;
	}

	.metas{
		font-size: 120%;
	}

	.biogra p{
		font-size: 120%;
	}

	.historial-container{
		width: 90%;
		float: none;
	}

	.titulo{
		margin-left: 5%;
		font-size: 200%;
	}

	.lista{
		margin-left: 3%;
		font-size: 120%;
	}

	.progreso{
		margin-left: 3%;
	}

	.progreso h5{
		font-size: 120%;
	}

	.progreso progress{
		width: 50%;
	}

	.redes{
		margin-left: 38%;
	}
}


@media screen and (max-width: 480px){

	.informacion-container{
		width: 90%;
		float: none;
	}

	.informacion p{
		margin-right: 5%;
		font-size: 100%;
	}

	.personal{
		margin-left: 5%;
	}

	.personal button{
		margin-left: 1%;
		width: 20%;
	}

	.perfil{
		margin-right: 5%;
	}

	.biografia-container{
		width: 90%;
		float: none;
		margin-left: 5%;
	}

	.fuente{
		font-size: 180%;
		margin-left: 1%;
	}

	.moti{
		width: 40%;
		font-size: 100%;
	}

	.metas{
		font-size: 100%;
	}

	.biogra p{
		font-size: 100%;
	}

	.historial-container{
		width: 90%;
		float: none;
	}

	.titulo{
		margin-left: 5%;
		font-size: 180%;
	}

	.lista{
		margin-left: 3%;
		font-size: 100%;
	}

	.progreso{
		margin-left: 3%;
	}

	.progreso h5{
		font-size: 100%;
	}

	.progreso progress{
		width: 40%;
	}

	.redes{
		margin-left: 27%;
	}
}




@media screen and (max-width: 320px){
	
	.informacion-container{
		width: 90%;
		float: none;
	}

	.informacion p{
		margin-right: 8%;
		font-size: 100%;
	}

	.personal{
		margin-left: 1%;
	}

	.personal button{
		margin-left: 20%;
		width: 50%;
		display: block;
	}

	.perfil{
		margin-right: 14%;
	}

	.biografia-container{
		width: 90%;
		float: none;
		margin-left: 5%;
	}

	.fuente{
		font-size: 180%;
		margin-left: 3%;
	}

	.moti{
		margin-left: 5%;
		width: 40%;
		font-size: 100%;
	}

	.metas{
		font-size: 100%;
	}

	.biogra p{
		font-size: 100%;
	}

	.historial-container{
		width: 90%;
		float: none;
	}

	.titulo{
		margin-left: 7%;
		font-size: 180%;
	}

	.lista{
		margin-left: 3%;
		font-size: 100%;
	}

	.progreso{
		margin-left: 3%;
	}

	.progreso h5{
		font-size: 100%;
	}

	.progreso progress{
		width: 70%;
	}

	.redes{
		margin-left: 11%;
	}
}













